<section id="aboutme">
    <div class="hero is-danger is-small has-text-centered p-6 subtitle is-size-3">
        {{ page.content | markdownify }}
<!--         <div class="is-inline-block has-text-centered">
            <p class="control is-inline-block">
                <button class="button is-warning is-outlined is-rounded">
                Download Resume
                </button>
            </p>
            <p class="control is-inline-block">
                <button class="button is-white is-outlined is-rounded">
                Request Token
                </button>
            </p>
        </div> -->
    </div>
</section>
