<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand px-5 py-2">
    <p class="navbar-item is-size-4 has-text-dark has-text-weight-bold">
      <span class="has-text-warning">JPAWiTRO</span>
      .space
    </p>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end px-5 py-2">
      <div class="navbar-item">
        <a class="button is-black block is-ahref has-text-white" target="_blank" href="" disabled>
          Projects
        </a>
      </div>
      <div class="navbar-item">
        <a class="button is-black block is-ahref has-text-white" target="_blank" href="" disabled>
          Blog
        </a>
      </div>
      <div class="navbar-item">
        <a class="button is-black block is-ahref has-text-white" target="_blank" href="" disabled>
          2-Dimensional
        </a>
      </div>
      <div class="navbar-item">
        <a class="button is-black block is-ahref has-text-white" target="_blank" href="https://t.me/pakjoko_bot">
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>